img {
    display: block;
    width: 100%;
    height: 180px;
}

body {
    background-color: #2e9df8;
}

button {
    background-color: #99d1ff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 30px;
    color: white;
}



button.load-more {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    
}

button.hidden {
    display: none;
}

button:hover {
    background-color: #0d10c2;
    
}
input {
    outline: none;
    border-radius: 4px;
    width: 176px;
    height: 26px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 20px;
    background-color: #99d1ff;
    color: white;
    
}

input:focus {
    border: 2px solid #0402a0;
    border-radius: 4px;
}

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    background-color: #ffe601;
}

.gallery {
    margin: 0 auto;
    width: 1200px;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-card {
    width: calc((100% / 4) - 15px);
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    background-color: #ffe601
}
 
.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #2e9df8;
}